body{
    margin: 0;
}
.btn{
  
    background-image: radial-gradient(circle,
    rgb(22, 206, 206) 60%,
     white 80%,
     rgb(123, 233, 233));
     border:0.5vmin solid rgb(22, 206, 206);
   
 
 

    width: 60vmin;
    margin-left:  calc((100vw - 60vmin)/2);;

    height: 60vmin;
    margin-top: calc((100vh - 60vmin)/2);

    font-size: 10vmin;
    border-radius: 100%;
   

}
.account{
  transform: translateY(-5vmin);
   padding:1vmin 20vmin 1vmin 20vmin;
   margin-top: -30vmin;
   

   
  
  


}
